@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply se:bg-white bg-gray-100
		se:dark:bg-[#3e3e3e] dark:bg-[#323232]
	}
	h1 {
		@apply font-semibold 
		text-2xl pb-2 text-[#292929]
		dark:text-pink-dark_words;
	}
	h2 {
		@apply text-sm 
		italic text-[#374151]
		dark:text-pink-dark_words;
	}
}

@layer components {
	.pageBase {
		@apply bg-white dark:bg-[#3e3e3e]
		min-h-screen
		se:p-1;
	}
	.blogSheet {
		@apply w-full 
		se:w-[70%] 
		se:max-w-[800px] se:min-w-[500px]
		min-h-[100vh] se:min-h-[95vh]
		se:my-[2.5vh]
		py-10 se:px-20 px-5 m-auto
		bg-gray-100 dark:bg-[#323232]
		se:shadow-[0px_0px_2vh_0px_rgba(55,55,55,0.2)]
		dark:se:shadow-[0px_0px_2vh_0px_rgba(0,0,0,0.2)];
	}
	.blogListItem {
		@apply relative
		block
		overflow-hidden
		hover:underline 
		hover:bg-blue-100 
		/* dark:hover:bg-[#e1dfdb] */
		dark:hover:bg-[#758db8]
		dark:text-pink-dark_words
		hover:cursor-pointer
		px-4 py-3 se:py-1;
	}
	.blogHeader {
		@apply py-5
		dark:text-pink-dark_words
		text-center;
	}
	.blogBottom {
		@apply py-5
		mt-32 border-t-2
		italic text-[#374151] 
		dark:text-pink-dark_words
		text-opacity-70
		text-center;
	}
	.imageContainer {
		@apply 
		my-2
		flex flex-col 
		justify-center items-center;
	}
	.imageContainer img {
		@apply
		max-h-[150px]
		se:max-h-[200px]
		my-2
		rounded-md;
	}
	.imageContainerPicText {
		@apply text-gray-500
		text-sm
		opacity-80;
	}
	.imageContainerDescription  {
		@apply text-gray-300
		text-lg
		opacity-100;
	}
}
